h1 {
  font-size: 13px;
  color: #0000006d;
}

h2 {
  font-size: 15px;
}

h3 {
  font-weight: bold;
  font-size: 22px;
}

h4 {
  font-weight: 600;
}

h5 {
  font-size: 15px;
  font-weight: 600;
}

ul {
  padding: 2px;
}

ul li {
  list-style-type: none;
}

ul li div {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.body {
  padding: 20px 30px;
}

.atendimento-filter-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: first baseline;
}

.atendimento-filter {
  padding: 0px;
  padding-left: 10px;
}

.atendimento-back {
  display: flex;
}

.atendimento-back-button {
  background-color: transparent;
  border: none;
  height: 35px;
}

.atendimento-back-button i {
  color: #000000a5;
  transition: 0.5s;
}

.atendimento-back-button i:hover {
  color: #00000076;
}

.atendimento-filter-button {
  outline: none;
  border: none;
  background-color: #000000;
  transition: 0.5s ease;
  padding: 5px 15px;
  border-radius: 5px;
}

.atendimento-filter-button i {
  color: #ffffff;
}

.atendimento-filter-button span {
  padding: 8px;
  color: #ffffff;
}

.atendimento-body {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}

.atendimento-initial-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.atendimento-card-info1,
.atendimento-card-info2 {
  width: 15rem;
  height: 110px;
  padding: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 20px;
  box-shadow: none;
  background-color: #e5ecf6;
  border-radius: 10px;
}

.atendimento-card-info2 {
  height: 230px;
}

.atendimento-card-info1:nth-child(odd) {
  background-color: #e3f5ff;
}

.atendimento-card-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 77vh;
  box-shadow: none;
  margin-top: 10px;
}

.atendimento-content-bar,
.atendimento-content-bar-full {
  width: 98%;
  display: flex;
  flex-direction: Row;
  justify-content: space-between;
}

#atendimentoDivChartBar,
#atendimentoDivDoughnutBar,
#atendimentoDivDoughnutBarFull {
  display: flex;
  justify-content: center;
  width: 49%;
  height: 300px;
  background-color: #f7f9fb;
  border-radius: 10px;
  padding: 20px;
}

#atendimentoDivDoughnutBarFull {
  width: 100%;
}

#atendimentoChartBar {
  height: 500px;
}
