<div class="body">
  <div class="atendimento-filter-container">
    <h1>Gráficos > Atendimentos > Atendimentos por Médico</h1>
    <div class="atendimento-filter">
      <button class="atendimento-filter-button">
        Filtro <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="atendimento-initial-cards">
    <mat-card class="atendimento-card-info1">
      <div class="atendimento-top-bar">
        <h2>Total de Atendimentos</h2>
        <h3>2.135</h3>
      </div>
    </mat-card>
    <mat-card class="atendimento-card-info1">
      <div class="atendimento-top-bar">
        <h2>Atendimentos este mês</h2>
        <h3>498</h3>
      </div>
    </mat-card>
    <mat-card class="atendimento-card-info1">
      <div class="atendimento-top-bar">
        <h2>Atendimentos esta semana</h2>
        <h3>95</h3>
      </div>
    </mat-card>
    <mat-card class="atendimento-card-info1">
      <div class="atendimento-top-bar">
        <h2>Total de Atendimentos(QT)</h2>
        <h3>2.135</h3>
      </div>
    </mat-card>
  </div>
  <mat-card class="atendimento-card-bar">
    <mat-card-content class="atendimento-content-bar">
      <div id="atendimentoDivChartBar">
        <canvas id="atendimentoChartBar"></canvas>
      </div>
    </mat-card-content>
  </mat-card>
</div>
